.download{
    width:595px;
    height:842px;
    margin:5rem auto;
    padding:3px;
}
.versity-name img{
    width: 100px;
}
.versity-name{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exam-details-img{
    display: flex;
    gap:3rem;
}
.exam-details-img img{
    width:100px;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    font-family: sans-serif;
    font-size: 0.8rem;    
    letter-spacing: 1px;
    width:100%;
    margin:1rem 0;
    background-color: white;
  }

th{
    background-color: rgb(228 240 245);
    text-align:left;
  }

th, td {
    border: 1px solid black;
    padding: 8px 10px;
  }
.status{
    text-align: center;
}
hr{
    color:black;
}

.sign{
    margin-top:1rem;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    flex-direction: column;
    gap:-10px;
}

.sign p{
    border-top-style:ridge;
}

.official-sign{
    display: flex;
    justify-content: space-between;
    gap:2rem;
}

@page{
    size:7in 9.25in;
    margin:27mm 16mm 27mm 16mm;
}